/deep/ {
  .error-window {
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    .errorHeader {
      padding-bottom: 4px;
    }

    .errorBody {
      padding-top: 4px;
    }

    .headerButton {
      float: right;
      margin-top: -30px;
      margin-right: -10px;
    }

    .textAreaError {
      height: 200px;
      max-height: 200px;
    }

    .footerButtonWrapper {
      text-align: center;
    }

    button + button {
      margin-left: 1rem;
    }
  }

  @media (min-width: 40rem) {
    .error-window {
      width: 38rem;
    }
  }
}
