* text=auto

*.txt  text
*.json text
*.c    text
*.h    text
*.py   text
*.md   text
*.html text
*.asm  text

*.bin  binary
*.o    binary

/data/generated/* text -diff linguist-generated=true
/Decompress/* binary
/Compress/*   binary
