.sw*
/.vs
/.vscode
/.idea
/ASM/build/bin
/Output
/build
/dist
/Logs
/testlogs
/__pycache__
ARCHIVE.bin

*.[nz]64
*.[nz]64.bak
*.prof
*.pyc
*.pyo
*.sav
*.spec
.*.sw*

tests/Output
!tests/*.sav
!tests/plando/*.json

# In order to keep this file tidy, please add any personal conventions to your
# global git configuration.
/ASM/build/bundle_r.txt
/ASM/build/bundle_d.txt
