.sw*
/.vs
/.vscode
/.idea
/Output
/build
/dist
ARCHIVE.bin

*.[nz]64
*.[nz]64.bak
*.pyc
*.pyo
*.sav
*.spec
.*.sw*

tests/Output
!tests/*.sav

# In order to keep this file tidy, please add any personal conventions to your
# global git configuration.
