@import "styles.scss";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~typeface-exo/index.css";
@import "~roboto-fontface/css/roboto/roboto-fontface.css";
@import "~ionicons/css/ionicons.css";
@import "~socicon/css/socicon.css";
@import "~nebular-icons/css/nebular-icons.css";
@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";
@import "app/@theme/styles/styles.scss";
