/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import "../src/app/@theme/styles/theme.gui.css";

@include mat-core();
$ip-primary: mat-palette($mat-indigo);
$ip-accent: mat-palette($mat-pink, A200, A100, A400);
$ip-warn: mat-palette($mat-red);
$ip-theme: mat-light-theme($ip-primary, $ip-accent, $ip-warn);
$ip-theme-dark: mat-dark-theme($ip-primary, $ip-accent, $ip-warn);
.indigo-pink {
    @include angular-material-theme($ip-theme);
}
