div.record-picker {
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: relative;
  min-height: calc(100% - 4.9rem);
  max-height: calc(100% - 4.9rem);

  @media (max-width: 960px) and (max-height: 960px) {
    min-height: calc(100% - 3.5rem);
    max-height: calc(100% - 3.5rem);
  }
}

div.pickerWithTagFilter {
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: relative;
  min-height: calc(100% - 7.2rem);
  max-height: calc(100% - 7.2rem);

  @media (max-width: 960px) and (max-height: 960px) {
    min-height: calc(100% - 4.9rem);
    max-height: calc(100% - 5.0rem);
  }
}

//Scrollbar style for record-picker (
//http://www.ourtuts.com/how-to-customize-browser-scrollbars-using-css3/
div.record-picker {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
      background: #eee;
      box-shadow: 0px 0px 3px #dfdfdf inset;
  }

  &::-webkit-scrollbar-thumb {
      background: #337ab7;
  }
}

.record-picker ul {
    margin: 0;
    padding: 0 0 1px 0;
}

.record-picker li {
  border-top: thin solid #ddd;
  border-bottom: 1px solid #ddd;
  display: block;
  padding: 2px 2px 2px 10px;
  margin-bottom: -1px;
  font-size: 0.85em;
  cursor: pointer;
  white-space: pre-line; //always text wrap to be safe
  min-height: 16px;
}

.record-picker li:hover {
    background-color: #808080;
}

.record-picker li.selected {
    background-color: #FFA07A;
}

.record-picker li.selected:hover {
    background-color: #a2231d;
}

.record-picker li.disabled {
    opacity: 0.5;
    cursor: default;
    background-color: inherit;
}

.record-picker li:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: none;
}

.record-picker li:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: none;
}

.record-picker label {
  cursor: pointer;
  font-weight: inherit;
  font-size: 14px;
  padding: 4px;
  margin-bottom: -1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media (max-width: 1900px) {
    font-size: 13px;
  }

  @media (max-width: 1750px) {
    font-size: 12px;
  }

  @media (max-width: 1630px) {
    font-size: 11px;
  }

  @media (max-width: 500px) {
    font-size: 10px;
  }
}

.record-picker ul.over {
    background-color: lightgray;
}

.dual-list {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.dual-list .listbox {
    width: 50%;
    margin: 0px;
}

.dual-list .button-bar {
    margin-top: 8px;
}


/* &nbsp;&nbsp;&nbsp;&#9654; */

.point-right::after {
    content: "\25B6";
    padding-left: 0;
}


/* &#9664;&nbsp;&nbsp;&nbsp; */

.point-left::before {
    content: "\25C0";
    padding-right: 0;
}

.dual-list .button-bar button {
    width: 47%;
}

.buttonBox {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.buttonBox button {
    width: 28%;
    margin-right: 3px;
}
.buttonBox .switchButton {
  width: 40%;

  @media (max-width: 420px) {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

button.btn-block {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

button.btn {
    height: 28px;
    padding: 0;
}

button.pull-left {
    margin-right: 5px;
}

.input-md {
    height: 28px;
    padding: 0;
}

.filter {
    margin-bottom: -2.2em;
}

.filter::after {
    content: "o";
    width: 40px;
    color: transparent;
    font-size: 2em;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 64l192 192v192l128-32V256L512 64H0z"/></svg>');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .2;
    top: -30px;
    left: calc(100% - 21px);
    position: relative;
}

.tagFilterSelect {
  max-width: 100%;
  width: 100%;
  padding-bottom: 0.3rem !important;

  /deep/ button {
    max-width: 100% !important;
    width: 100% !important;
  }
}

.tagFilterSelectPadding {
  height: 31px;
}
