<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- Setting the product ID to "*" means all upgrades are treated as major upgrades, and will uninstall the old version 
         before installing the new one. This is desireable because it means nothing breaks if we fail to follow the component rules precisely. -->
    <Product Id="*" Name="OoT Randomizer" Language="1033" Version="$(env.OoTR_Version)" Manufacturer="Randomizer Community" UpgradeCode="6CA50142-24DC-4B26-9FA8-A213F0223854" >
        <Package Id="*" InstallerVersion="400" Compressed="yes" InstallScope="perMachine" />
        <!-- Allowing downgrades will cause a harmless warning to be emitted. This wearning is not relevant here, allowing downgrades via a new major upgrade is safe for a simple standalone app like this-->
        <MajorUpgrade AllowDowngrades="yes"/>
        <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id='ProgramFilesFolder' Name='PFiles'>
                <Directory Id='INSTALLDIR' Name='OoT Randomizer'/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="OoT Randomizer"/>
            </Directory>
        </Directory>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="001FC0B7-DE6D-4D78-9F41-567CA45ECF5E">
                <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\OoTRandomizer" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
        <Feature Id="Complete"
             Title="OoT Randomizer"
             Description="OoT Randomizer"
             Level="1">
            <ComponentGroupRef Id="OoTRFiles"/>
            <ComponentRef Id="ApplicationShortcut"/>
        </Feature>

        <Icon Id="ER.ico" SourceFile="Data/ER.ico" />
        <Property Id="DISABLEADVTSHORTCUTS" Secure="yes">1</Property>
        <Property Id="ARPPRODUCTICON" Value="ER.ico" />
        <Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
        <UI>
          <UIRef Id="WixUI_InstallDir" />
          <UIRef Id="WixUI_ErrorProgressText" />
          <!-- Skip license page -->
          <Publish Dialog="WelcomeDlg"
                    Control="Next"
                    Event="NewDialog"
                    Value="InstallDirDlg"
                    Order="2">1</Publish>
          <Publish Dialog="InstallDirDlg"
                    Control="Back"
                    Event="NewDialog"
                    Value="WelcomeDlg"
                    Order="2">1</Publish>
        </UI>
    </Product>
</Wix>
