body {
  background-color: #f5f5f5;
  font-family: "Exo";
}
#appArea {
  position: relative;
  top: 5px;
}
#genApp {
  background-color: #f5f5f5;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 30px);
  height: 800px;
  margin: 0 auto;
  z-index: 1;
}

ngx-app {
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 3s ease-out;
  -moz-transition: opacity 3s ease-out;
  -o-transition: opacity 3s ease-out;
  transition: opacity 3s ease-out;
}

.pace-done ngx-app {
  opacity: 1;
  -webkit-transition: opacity 3s ease-out;
  -moz-transition: opacity 3s ease-out;
  -o-transition: opacity 3s ease-out;
  transition: opacity 3s ease-out;
}

#genApp, .emscripten {
  opacity: 0;
}

.pace-done #genApp, .pace-done .emscripten {
  opacity: 1;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-primary.active, .btn-success.active, .btn-info.active, .btn-warning.active, .btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default .badge, .btn-primary .badge, .btn-success .badge, .btn-info .badge, .btn-warning .badge, .btn-danger .badge {
  text-shadow: none;
}

.btn:active, .btn.active {
  background-image: none;
}

.btn-primary {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
  background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #245580;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #265a88;
  background-position: 0 -15px;
}

.btn-primary:active, .btn-primary.active {
  background-color: #265a88;
  border-color: #245580;
}

.btn-primary:disabled, .btn-primary[disabled] {
  background-color: #265a88;
  background-image: none;
}

.btn-warning {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #e8e8e8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background-color: #2e6da4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
  background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
  background-repeat: repeat-x;
}

.navbar-default {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
  background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e2e2e2));
  background-image: linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}

.navbar-brand, .navbar-nav>li>a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.navbar-inverse {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#080808), to(#0f0f0f));
  background-image: linear-gradient(to bottom, #080808 0%, #0f0f0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
  border-radius: 0;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu>.active>a, .navbar .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
  }
}

.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.alert-success {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  background-repeat: repeat-x;
  border-color: #b2dba1;
}

.progress {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
}

.list-group-item.active .badge, .list-group-item.active:hover .badge, .list-group-item.active:focus .badge {
  text-shadow: none;
}

.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.panel-default>.panel-heading {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}

.panel-primary>.panel-heading {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
  background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
  background-repeat: repeat-x;
}

.panel-success>.panel-heading {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#d0e9c6));
  background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
  background-repeat: repeat-x;
}

.panel-info>.panel-heading {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#c4e3f3));
  background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
  background-repeat: repeat-x;
}

.panel-warning>.panel-heading {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#faf2cc));
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
  background-repeat: repeat-x;
}

.panel-danger>.panel-heading {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#ebcccc));
  background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
  background-repeat: repeat-x;
}

.well {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.center {
  display: block !important;
  margin: 0 auto !important;
  text-align: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.btn-instructions {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #428bca), to(#275379)) !important;
  background-image: linear-gradient(to bottom, #428bca 0, #275379 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#428bca), to(#275379)) !important;
  border-color: #275379 !important;
}

.spoilerBtn {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 500;
  border: 2px solid transparent;
  transition: none;
  cursor: default;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.75rem;
}

textarea {
  font-family: monospace;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.basecontainer {
  height: 1320px;
  overflow: hidden;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 130px;
  margin-bottom: 40px;
}

.pace-done .basecontainer {
    height: unset;
}

.webFooter {
  background-color: #383838;
  color: white !important;
  position: fixed !important;
  bottom: 0 !important;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
  margin-top: 15px;
  z-index: 10;
  height: 10em;
}

.webHeader .credit {
  color: white !important;
  font-weight: 600;
  font-size: 2.5vw;
  vertical-align: middle;
  margin-left: 2px;
  line-height: 90%;
}

.webFooter .creditfooter {
  color: white !important;
  font-size: 3vw;
  font-weight: 600;
  vertical-align: middle;
  margin-left: 2px;
  line-height: 60%;
}

.webFooter #disclaimer {
  color: white;
  font-size: 9px;
}

#footer {
  position: fixed;
  bottom: 0;
}

.footertitle {
  margin-top: 0.5vw;
  color: white !important;
  font-size: 4vw;
  font-weight: 600;
  margin-bottom: 3px;
}

.webHeader {
  width: 100%;
  background-color: #383838 !important;
  color: white !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px;
  padding-left: 20px;
  z-index: 10;
  height: 9.2em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.webHeader .headtitle {
  color: white !important;
  font-size: 5vw;
  font-weight: 800;
}

.webHeader #logo {
  vertical-align: middle;
}

.webFooter #logofooter {
  vertical-align: middle;
  height: 70%;
}

.webHeader #ootr {
  color: white !important;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: left;
}

.webNav {
  flex-direction: row !important;
}

.spinner {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  height: 1000px;
  z-index: 1003;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /*background: 
	linear-gradient(115deg, transparent 75%, #275379) 0 0,
	linear-gradient(245deg, transparent 75%, #275379) 0 0,
	linear-gradient(115deg, transparent 75%, #275379) 30px -57px,
	linear-gradient(245deg, transparent 75%, #275379) 30px -57px,
  black;
  background-size: 60px 116px;
  */
  overflow: hidden;
}

.spinner div:first-child {
  display: block;
  position: relative;
  left: 50%;
  top: 20%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  box-shadow: 0 3px 3px 0 rgba(255, 56, 106, 1);
  transform: translate3d(0, 0, 0);
  animation: spin 2s linear infinite;
  background: rgba(0, 0, 0, 0.4)
}

.spinner div:first-child:after, .spinner div:first-child:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner div:first-child:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  box-shadow: 0 3px 3px 0 rgb(255, 228, 32);
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.spinner div:first-child:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: 0 3px 3px 0 rgba(61, 175, 255, 1);
  animation: spin 1.5s linear infinite;
}

.fairy {
  width: 300px;
  height: 300px;
  top: 200px;
  left: 50%;
  margin: -150px 0 0 -150px;
  position: absolute;
  perspective: 250px;
  animation: flying 3s linear infinite;
}

.glow {
  width: 56px;
  height: 56px;
  top: 50%;
  left: 50%;
  margin: -28px 0 0 -28px;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 100px;
  background: radial-gradient( ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 240, 240, 1) 35%, rgba(255, 204, 204, 1) 50%, rgba(242, 148, 154, 1) 65%, rgba(223, 126, 132, 1) 100%);
}

.glow:after {
  content: "";
  width: 54px;
  height: 54px;
  top: 50%;
  left: 50%;
  margin: -27px 0 0 -27px;
  position: absolute;
  border-radius: 100px;
  animation: pulse 1.5s ease-in-out infinite alternate;
}

#status {
  text-align: center;
}

.sparkle {
  height: 3px;
  width: 3px;
  background: #FFAFB1;
  position: absolute;
  border-radius: 100px;
  opacity: 0;
  z-index: 100;
}

.sparkle:nth-child(1) {
  top: -20px;
  left: 15px;
}

.sparkle:nth-child(2) {
  top: 3px;
  left: 60px;
}

.sparkle:nth-child(3) {
  top: 60px;
  left: 50px;
}

.sparkle:nth-child(4) {
  top: 68px;
  left: 16px;
}

.sparkle:nth-child(5) {
  top: 50px;
  left: 0px;
}

.sparkle:nth-child(1) {
  animation: sparkling .8s ease-in-out 1 * .2s infinite;
}

.sparkle:nth-child(2) {
  animation: sparkling .8s ease-in-out 2 * .2s infinite;
}

.sparkle:nth-child(3) {
  animation: sparkling .8s ease-in-out 3 * .2s infinite;
}

.sparkle:nth-child(4) {
  animation: sparkling .8s ease-in-out 4 * .2s infinite;
}

.sparkle:nth-child(5) {
  animation: sparkling .8s ease-in-out 5 * .2s infinite;
}

.wings {
  position: relative;
  top: 50%;
  left: 50%;
  width: 144px;
  height: 114px;
  margin: -87px 0 0 -72px;
}

.wings:before {
  content: "";
  width: 64px;
  height: 114px;
  top: 50%;
  left: 50%;
  margin: -57px 0 0 -72px;
  position: absolute;
  transform-origin: right;
  animation: flapping-left 0.2s ease-in-out infinite;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wing-left.svg') no-repeat;
}

.wings:after {
  content: "";
  width: 64px;
  height: 114px;
  top: 50%;
  left: 50%;
  margin: -57px 0 0 -72px;
  position: absolute;
  transform-origin: right;
  animation: flapping-left 0.2s ease-in-out infinite;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wing-left.svg') no-repeat;
  left: auto;
  right: 50%;
  margin: -57px -72px 0 0;
  transform-origin: left;
  animation: flapping-right 0.2s ease-in-out infinite;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wing-right.svg') no-repeat;
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 0 0 20px 5px rgba(239, 145, 145, 0.9), 0 0 30px 20px rgba(195, 66, 102, 0.8);
  }
  50% {
    box-shadow: 0 0 30px 7px rgba(239, 145, 145, 0.9), 0 0 35px 22px rgba(195, 66, 102, 0.8);
  }
}

@keyframes sparkling {
  0%, 100% {
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
  50% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
}

@keyframes flapping-left {
  0%, 100% {
    transform: rotateX(-15deg) rotateY(-45deg);
  }
  50% {
    transform: rotateX(-10deg) rotateY(-20deg);
  }
}

@keyframes flapping-right {
  0%, 100% {
    transform: rotateX(-15deg) rotateY(45deg);
  }
  50% {
    transform: rotateX(-10deg) rotateY(20deg);
  }
}

@keyframes flying {
  0% {
    transform: rotate(50deg) translateX(0px) rotate(-50deg) scale(0.85);
  }
  50% {
    transform: rotate(180deg) translateX(80px) rotate(-180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) translateX(0px) rotate(-360deg) scale(0.85);
  }
}

#loadingAnimation {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  height: 800px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1003;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.pace-done #loadingAnimation {
  display: none;
}

#loadText {
  margin-top: 15px;
  margin: 0 auto;
  color: white;
  font-size: 42px;
  font-weight: 800;
  letter-spacing: 0.25em;
}