/* Global Ad sidebars */
.sidebar {
    display: initial;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 161px; /* Set the width of the sidebar */
    z-index: 1; /* Stay on top */
    position: absolute;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
}
@media (max-width: 1600px) {
    .sidebar {
        display: none;
    }
}
@media (min-width: 1650px) {
    .sidebar {
        width: 176px; /* Set the width of the sidebar */
    }
}
@media (min-width: 1850px) {
    .sidebar {
        width: 196px; /* Set the width of the sidebar */
    }
}
@media (min-width: 2100px) {
    .sidebar {
        width: 216px; /* Set the width of the sidebar */
    }
}
.sbL {
    left: 0;
}
.sbR {
    right: 0;
}

@media (min-width: 1601px) {
    .basecontainer {
        width: 81%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1920px) {
	.panelIcon {
		margin-top: 8px;
	}
}
@media (max-width: 359px) {
	#footer {
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 5px;
		margin-top: 30px;
		z-index: 10;
		height: 10.5em;
	}

}
@media (min-width: 360px) {
	.basecontainer {
		max-width: 360px;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	#genApp {
		background-color: #f5f5f5;
		position: relative;
		width: 100%;
		margin: 0;
	  }
	#header {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		padding-left: 5px;
		z-index: 10;
		height: 9.2em;
		justify-content: flex-start;
	}
    .center {
		margin-left: auto !important;
    }
	#ootr {
		vertical-align: middle;
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
		text-align: center;
	}

	.headtitle {
		font-size: 18px !important;
		font-weight: 800;
	}

	#logo {
		margin-left: -10px;
	}

	.credit {
		font-weight: 600;
		font-size: 10px !important;
		vertical-align: middle;
		margin-right: 5px;
		line-height: 10px;
	}

	#footer {
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 5px;
		margin-top: 15px;
		z-index: 10;
		height: 10.5em;
	}
	.webFooter {
		height: 10.5em;
	}

	#logofooter {
		vertical-align: middle;
		height: 70%;
	}

	.footertitle {
		margin-top: 8px;
		font-size: 14px;
		font-weight: 600;
	}

	#disclaimer {
		font-size: 8px;
	}

	.creditfooter {
		font-weight: 600;
		font-size: 12px;
		vertical-align: middle;
		margin-left: 2px;
		line-height: 50%
	}
	.labelAdjust {
		font-size: 12px;
	}
	.sectionBox {
		min-width: 330px;
	}
}
@media (min-width: 416px) {
	.basecontainer {
		max-width: 416px;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	#genApp {
		background-color: #f5f5f5;
		position: relative;
		width: 100%;
		margin: 0;
	  }
    #header {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		padding-left: 5px;
		z-index: 10;
		height: 9.2em;
		justify-content: flex-start;
	}
    .center {
		margin-left: auto !important;
    }
	#ootr {
		vertical-align: middle;
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
		text-align: center;
	}


	.headtitle {
		font-size: 22px !important;
		font-weight: 800;
	}

	#logo {
		margin-left: -10px;
	}

	.credit {
		font-weight: 600;
		font-size: 12px !important;
		vertical-align: middle;
		margin-right: 5px;
		line-height: 12px;
	}

	#footer {
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 5px;
		margin-top: 15px;
		z-index: 10;
		height: 10.5em;
	}
	.webFooter {
		height: 10.5em;
	}

	#logofooter {
		vertical-align: middle;
		height: 70%;
	}

	.footertitle {
		margin-top: 8px;
		font-size: 14px;
		font-weight: 600;
	}

	#disclaimer {
		font-size: 9px;
	}

	.creditfooter {
		font-weight: 600;
		font-size: 12px;
		vertical-align: middle;
		margin-left: 2px;
		line-height: 50%
	}
	.labelAdjust {
		font-size: 12px;
	}
	.sectionBox {
		min-width: 386px;
	}
}
@media (min-width: 576px) {
	.basecontainer {
		max-width: 560px;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	#genApp {
		background-color: #f5f5f5;
		position: relative;
		width: 100%;
		margin: 0;
	  }
    #header {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		padding-left: 5px;
		z-index: 10;
		height: 9.2em;
		justify-content: flex-start;
	}
    .center {
		margin-left: auto !important;
	}

	#ootr {
		vertical-align: middle;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        text-align: left;
		align-items: center;
	}

	.headtitle {
		font-size: 28px !important;
		font-weight: 800;
	}

	#logo {
		margin-left: -10px;
	}

	.credit {
		font-weight: 600;
		font-size: 14px !important;
		vertical-align: middle;
		margin-right: 8px;
		line-height: 14px;
	}

	#footer {
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 5px;
		margin-top: 15px;
		z-index: 10;
		height: 9em;
	}

	#logofooter {
		vertical-align: middle;
		height: 70%;
	}

	.footertitle {
		margin-top: 8px;
		font-size: 16px;
		font-weight: 600;
	}

	#disclaimer {
		font-size: 11px;
	}

	.creditfooter {
		font-weight: 600;
		font-size: 12px !important;
		vertical-align: middle;
		margin-left: 0px;
		line-height: 50%
	}
	.labelAdjust {
		font-size: 14px;
	}
	.sectionBox {
		min-width: 390px;
	}
	
}

@media (min-width: 768px) {
	.basecontainer {
		max-width: 752px;
	}
	#header {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		padding-left: 5px;
		z-index: 10;
		height: 9.2em;
		justify-content: flex-start;
	}
	.center {
		margin-left: auto !important;
  }
	#ootr {
		vertical-align: middle;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: left;
		align-items: center;
	}

	.headtitle {
		font-size: 28px !important;
		font-weight: 800;
	}

	#logo {
		margin-left: -10px;
	}

	.credit {
		font-weight: 600;
		font-size: 14px !important;
		vertical-align: middle;
		margin-right: 8px;
		line-height: 14px;
	}

	#footer {
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 5px;
		margin-top: 15px;
		z-index: 10;
		height: 7.5em;
	}
	
	#logofooter {
		vertical-align: middle;
		height: 70%;
	}

	.footertitle {
		margin-top: 8px;
		font-size: 18px;
		font-weight: 600;
	}

	#disclaimer {
		font-size: 11px;
	}

	.creditfooter {
		font-weight: 600;
		font-size: 14px !important;
		vertical-align: middle;
		margin-left: 0px;
		line-height: 50%
	}
}
@media (min-width: 856px) {
	.basecontainer {
		max-width: 840px;
	}
	#header {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		padding-left: 5px;
		z-index: 10;
		height: 9.2em;
		justify-content: flex-start;
	}
    .center {
		margin-left: auto !important;
    }
	#ootr {
		vertical-align: middle;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        text-align: left;
		align-items: center;
	}

	.headtitle {
		font-size: 28px !important;
		font-weight: 800;
	}

	#logo {
		margin-left: -10px;
	}

	.credit {
		font-weight: 600;
		font-size: 14px !important;
		vertical-align: middle;
		margin-right: 8px;
		line-height: 14px;
	}

	#footer {
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 5px;
		margin-top: 15px;
		z-index: 10;
		height: 7.5em;
	}

	#logofooter {
		vertical-align: middle;
		height: 70%;
	}

	.footertitle {
		margin-top: 8px;
		font-size: 18px;
		font-weight: 600;
	}

	#disclaimer {
		font-size: 11px;
	}

	.creditfooter {
		font-weight: 600;
		font-size: 14px !important;
		vertical-align: middle;
		margin-left: 0px;
		line-height: 50%
	}
}

@media (min-width: 992px) {
	.basecontainer {
		max-width: 976px;
	}
	#header {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		padding-left: 5px;
		z-index: 10;
		height: 9.2em;
		justify-content: flex-start;
	}
    .center {
		margin-left: auto !important;
    }
	#ootr {
		vertical-align: middle;
		margin-left: 0px;
		margin-bottom: 5px;
		text-align: left;
	}

	.headtitle {
		font-size: 40px !important;
		font-weight: 800;
	}

	#logo {
		margin-left: 0px;
	}

	.credit {
		font-weight: 600;
		font-size: 18px !important;
		vertical-align: middle;
		margin-right: 10px;
		line-height: 18px;
	}

	#footer {
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 5px;
		margin-top: 15px;
		z-index: 10;
		height: 7.5em;
	}	

	#logofooter {
		vertical-align: middle;
		height: 70%;
	}

	.footertitle {
		margin-top: 2px;
		font-size: 22px;
		font-weight: 600;
	}

	#disclaimer {
		font-size: 12px;
	}

	.creditfooter {
		font-weight: 600;
		font-size: 14px !important;
		vertical-align: middle;
		margin-left: 2px;
		line-height: 50%
	}
}
@media (min-width: 1248px) {
	.basecontainer {
		max-width: 1232px;
	}
	#header {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		padding-left: 5px;
		z-index: 10;
		height: 9.2em;
		justify-content: flex-start;
	}
    .center {
		margin-left: auto !important;
    }
	#ootr {
		vertical-align: middle;
		margin-left: 0px;
		margin-bottom: 5px;
		text-align: left;
	}

	.headtitle {
		font-size: 40px !important;
		font-weight: 800;
	}

	#logo {
		margin-left: 0px;
	}

	.credit {
		font-weight: 600;
		font-size: 18px !important;
		vertical-align: middle;
		margin-right: 10px;
		line-height: 18px;
	}

	#footer {
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 5px;
		margin-top: 15px;
		z-index: 10;
		height: 7.5em;
	}

	#logofooter {
		vertical-align: middle;
		height: 70%;
	}

	.footertitle {
		margin-top: 2px;
		font-size: 22px;
		font-weight: 600;
	}

	#disclaimer {
		font-size: 12px;
	}

	.creditfooter {
		font-weight: 600;
		font-size: 14px !important;
		vertical-align: middle;
		margin-left: 2px;
		line-height: 50%
	}
}
@media (min-width: 1536px) {
	.basecontainer {
		max-width: 1520px;
	}
	#header {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		padding-left: 5px;
		z-index: 10;
		height: 9.2em;
		justify-content: flex-start;
	}
    .center {
		margin-left: auto !important;
    }
	#ootr {
		vertical-align: middle;
		margin-left: 0px;
		margin-bottom: 5px;
		text-align: left;
	}

	.headtitle {
		font-size: 40px !important;
		font-weight: 800;
	}

	#logo {
		margin-left: 0px;
	}

	.credit {
		font-weight: 600;
		font-size: 18px !important;
		vertical-align: middle;
		margin-right: 10px;
		line-height: 18px;
	}

	#footer {
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 5px;
		margin-top: 15px;
		z-index: 10;
		height: 7.5em;
	}

	#logofooter {
		vertical-align: middle;
		height: 70%;
	}

	.footertitle {
		margin-top: 2px;
		font-size: 22px;
		font-weight: 600;
	}

	#disclaimer {
		font-size: 12px;
	}

	.creditfooter {
		font-weight: 600;
		font-size: 14px !important;
		vertical-align: middle;
		margin-left: 2px;
		line-height: 50%
	}
}
@media (min-width: 1888px) {
	.basecontainer {
		max-width: 1872px;
	}
	#header {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		padding-left: 5px;
		z-index: 10;
		height: 9.2em;
		justify-content: flex-start;
	}
    .center {
		margin-left: auto !important;
    }
	#ootr {
		vertical-align: middle;
		margin-left: 0px;
		margin-bottom: 5px;
		text-align: left;
	}

	.headtitle {
		font-size: 40px !important;
		font-weight: 800;
	}

	#logo {
		margin-left: 0px;
	}

	.credit {
		font-weight: 600;
		font-size: 18px !important;
		vertical-align: middle;
		margin-right: 10px;
		line-height: 18px;
	}

	#footer {
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 5px;
		margin-top: 15px;
		z-index: 10;
		height: 7.5em;
	}

	#logofooter {
		vertical-align: middle;
		height: 70%;
	}

	.footertitle {
		margin-top: 2px;
		font-size: 22px;
		font-weight: 600;
	}

	#disclaimer {
		font-size: 12px;
	}

	.creditfooter {
		font-weight: 600;
		font-size: 14px !important;
		vertical-align: middle;
		margin-left: 2px;
		line-height: 50%
	}
}
@media (min-width: 2240px) {
	.basecontainer {
		max-width: 2224px;
	}
	#header {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		padding-left: 5px;
		z-index: 10;
		height: 9.2em;
		justify-content: flex-start;
	}
    .center {
		margin-left: auto !important;
    }
	#ootr {
		vertical-align: middle;
		margin-left: 0px;
		margin-bottom: 5px;
		text-align: left;
	}

	.headtitle {
		font-size: 40px !important;
		font-weight: 800;
	}

	#logo {
		margin-left: 0px;
	}

	.credit {
		font-weight: 600;
		font-size: 18px !important;
		vertical-align: middle;
		margin-right: 10px;
		line-height: 18px;
	}

	#footer {
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 5px;
		margin-top: 15px;
		z-index: 10;
		height: 7.5em;
	}

	#logofooter {
		vertical-align: middle;
		height: 70%;
	}

	.footertitle {
		margin-top: 2px;
		font-size: 22px;
		font-weight: 600;
	}

	#disclaimer {
		font-size: 12px;
	}

	.creditfooter {
		font-weight: 600;
		font-size: 14px !important;
		vertical-align: middle;
		margin-left: 2px;
		line-height: 50%
	}
	.sectionBox {
		min-width: 450px;
	}
}
@media (min-width: 2528px) {
	.basecontainer {
		max-width: 2512px;
	}
	#header {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 5px;
		padding-left: 5px;
		z-index: 10;
		height: 9.2em;
		justify-content: flex-start;
	}
    .center {
		margin-left: auto !important;
    }
	#ootr {
		vertical-align: middle;
		margin-left: 0px;
		margin-bottom: 5px;
		text-align: left;
	}

	.headtitle {
		font-size: 40px !important;
		font-weight: 800;
	}

	#logo {
		margin-left: 0px;
	}

	.credit {
		font-weight: 600;
		font-size: 18px !important;
		vertical-align: middle;
		margin-right: 10px;
		line-height: 18px;
	}

	#footer {
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 5px;
		margin-top: 15px;
		z-index: 10;
		height: 7.5em;
	}

	#logofooter {
		vertical-align: middle;
		height: 70%;
	}

	.footertitle {
		margin-top: 2px;
		font-size: 22px;
		font-weight: 600;
	}

	#disclaimer {
		font-size: 12px;
	}

	.creditfooter {
		font-weight: 600;
		font-size: 14px !important;
		vertical-align: middle;
		margin-left: 2px;
		line-height: 50%
	}
	.sectionBox {
		min-width: 500px;
	}
}

/*Angular App scaling*/
@media (max-width: 570px) {
    #genApp {
        height: 1650px;
    }
}

@media (max-width: 600px) {
    #genApp {
        height: 1450px;
    }
}

@media (max-width: 960px) {
    #genApp {
        height: 1200px;
    }
}
