<div class="pageContainer">
  <nb-card [ngClass]="{webLayout: !global.getGlobalVar('electronAvailable')}" [nbSpinner]="generatorBusy" nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="Please wait...">
    <nb-card-body *ngIf="global.getGlobalVar('appReady')">
      <nb-tabset *ngIf="global.getGlobalVar('generatorSettingsArray') && global.getGlobalVar('generatorSettingsArray').length > 0" #refTabSet class="settingsTabset" fullWidth>
        <nb-tab *ngFor="let tab of global.getGlobalVar('generatorSettingsArray'); index as tabIndex" [disabled]="!global.generator_tabsVisibilityMap[tab.name]" [tabTitle]="tab.text" [active]="tabIndex==0" [nbSpinner]="settingsBusy" nbSpinnerStatus="primary" nbSpinnerSize="medium" nbSpinnerMessage="">
          <mat-grid-list [responsiveCols]="{xs: 1, sm: 2, md: 4, lg: 4, xl: 4}" gutterSize="10px" rowHeight="fit">
            <mat-grid-tile #refEl *ngFor="let section of tab.sections; index as sectionIndex" [colspan]="getColumnWidth(refEl, tab.sections, sectionIndex, tab.sections.length, section['col_span'] ? section['col_span'] : 0)" [rowspan]="section.row_span">
              <mat-grid-tile-header *ngIf="section.text && section.text.length > 0">
                <h3>{{section.text}}</h3>
              </mat-grid-tile-header>
              <div class="tileContainer" [ngClass]="section.text && section.text.length > 0 ? 'tileContainerWithHeader' : null">
                <div class="tileContent">
                  <p *ngIf="section.subheader && section.subheader.length > 0" class="subheaderLabel" [innerHTML]="section.subheader"></p>
                  <!--Auto Parsed Tabs based on JSON File-->
                  <ng-template ngFor let-setting [ngForOf]="section.settings" let-itemIndex="index">
                    <ng-container [ngSwitch]="setting.type">
                      <ng-container *ngSwitchCase="'Checkbutton'">
                        <mat-slide-toggle *ngIf="setting.tooltip && setting.tooltip.length > 0" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" labelPosition="after" (ngModelChange)="checkVisibility($event, setting)" [(ngModel)]="global.generator_settingsMap[setting.name]"
                                          [nbPopover]="tooltipComponent" [nbPopoverContext]="{tooltip: setting.tooltip}" nbPopoverTrigger="hint" nbPopoverPlacement="right" nbPopoverAdjustment="clockwise">{{setting.text}}</mat-slide-toggle>
                        <mat-slide-toggle *ngIf="!setting.tooltip || setting.tooltip.length == 0" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" labelPosition="after" (ngModelChange)="checkVisibility($event, setting)" [(ngModel)]="global.generator_settingsMap[setting.name]">{{setting.text}}</mat-slide-toggle>
                      </ng-container>
                      <ng-container *ngSwitchCase="'Radiobutton'">
                        <p class="radioGroupLabel">{{setting.text}}</p>
                        <mat-radio-group *ngIf="setting.tooltip && setting.tooltip.length > 0" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" labelPosition="after" (ngModelChange)="checkVisibility($event, setting)" [(ngModel)]="global.generator_settingsMap[setting.name]"
                                         [nbPopover]="tooltipComponent" [nbPopoverContext]="{tooltip: setting.tooltip}" nbPopoverTrigger="hint" nbPopoverPlacement="top" nbPopoverAdjustment="clockwise">
                          <mat-radio-button *ngFor="let option of setting.options; index as optionIndex" class="radioButton" [value]="option.name">
                            {{option.text}}
                          </mat-radio-button>
                        </mat-radio-group>
                        <mat-radio-group *ngIf="!setting.tooltip || setting.tooltip.length == 0" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" labelPosition="after" (ngModelChange)="checkVisibility($event, setting)" [(ngModel)]="global.generator_settingsMap[setting.name]">
                          <mat-radio-button *ngFor="let option of setting.options; index as optionIndex" class="radioButton" [value]="option.name">
                            {{option.text}}
                          </mat-radio-button>
                        </mat-radio-group>
                      </ng-container>
                      <ng-container *ngSwitchCase="'Combobox'">
                        <span *ngIf="section.is_colors && global.generator_settingsMap[setting.name] === 'Custom Color' && global.generator_customColorMap[setting.name].length > 0" class="comboBoxLabel">{{setting.text}} ({{global.generator_customColorMap[setting.name]}})</span>
                        <span *ngIf="!section.is_colors || global.generator_settingsMap[setting.name] != 'Custom Color' || global.generator_customColorMap[setting.name].length == 0" class="comboBoxLabel">{{setting.text}}</span>
                        <!--Includes Custom Color Picker for Cosmetics-->
                        <ng-container *ngIf="section.is_colors">
                          <div class="colorPickerContainer">
                            <input #refColorPicker [(colorPicker)]="global.generator_customColorMap[setting.name]" [cpAlphaChannel]="disabled" [cpOutputFormat]="hex" [cpUseRootViewContainer]="true" [cpAddColorButton]="true" [cpPresetColors]="['#fff', '#000']" [cpMaxPresetColorsLength]="5"
                                   (colorPickerClose)="afterSettingChange(true)" />
                          </div>
                          <nb-select *ngIf="setting.tooltip && setting.tooltip.length > 0" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" [(selected)]="global.generator_settingsMap[setting.name]" (selectedChange)="checkVisibility($event, setting, findOption(setting.options, $event), refColorPicker)"
                                     [nbPopover]="tooltipComponent" [nbPopoverContext]="{tooltip: setting.tooltip}" nbPopoverTrigger="click" nbPopoverPlacement="right" nbPopoverAdjustment="counterclockwise" size="xsmall">
                            <nb-option *ngFor="let option of setting.options; index as optionIndex" [value]="option.name">{{option.text}}</nb-option>
                          </nb-select>
                          <nb-select *ngIf="!setting.tooltip || setting.tooltip.length == 0" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" [(selected)]="global.generator_settingsMap[setting.name]" (selectedChange)="checkVisibility($event, setting, findOption(setting.options, $event), refColorPicker)"
                                     size="xsmall">
                            <nb-option *ngFor="let option of setting.options; index as optionIndex" [value]="option.name">{{option.text}}</nb-option>
                          </nb-select>
                        </ng-container>
                        <!--Normal Combobox-->
                        <ng-container *ngIf="!section.is_colors">
                          <nb-select [ngClass]="{'noLB': setting.no_line_break}" *ngIf="setting.tooltip && setting.tooltip.length > 0" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" [(selected)]="global.generator_settingsMap[setting.name]" (selectedChange)="checkVisibility($event, setting, findOption(setting.options, $event))"
                                     [nbPopover]="tooltipComponent" [nbPopoverContext]="{tooltip: setting.tooltip}" nbPopoverTrigger="click" nbPopoverPlacement="right" nbPopoverAdjustment="counterclockwise" size="xsmall">
                            <nb-option *ngFor="let option of setting.options; index as optionIndex" [value]="option.name">{{option.text}}</nb-option>
                          </nb-select>
                          <nb-select *ngIf="!setting.tooltip || setting.tooltip.length == 0" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" [(selected)]="global.generator_settingsMap[setting.name]" (selectedChange)="checkVisibility($event, setting, findOption(setting.options, $event))"
                                     size="xsmall">
                            <nb-option *ngFor="let option of setting.options; index as optionIndex" [value]="option.name">{{option.text}}</nb-option>
                          </nb-select>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'Scale'">
                        <span class="numberInputLabel">{{setting.text}}:</span><input class="numberInput" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" type="text" [maxlength]="setting.max.length" nbInput fieldSize="small"
                                                                                      (ngModelChange)="numberInputChange($event, setting)" [(ngModel)]="global.generator_settingsMap[setting.name]">
                        <mat-slider *ngIf="setting.tooltip && setting.tooltip.length > 0" class="scale" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" [min]="setting.min" [max]="setting.max" step="1" [(ngModel)]="global.generator_settingsMap[setting.name]"
                                    (ngModelChange)="afterSettingChange()" tickInterval="1" thumbLabel [nbPopover]="tooltipComponent" [nbPopoverContext]="{tooltip: setting.tooltip}" nbPopoverTrigger="hint" nbPopoverPlacement="right" nbPopoverAdjustment="counterclockwise"></mat-slider>
                        <mat-slider *ngIf="!setting.tooltip || setting.tooltip.length == 0" class="scale" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" [min]="setting.min" [max]="setting.max" step="1" [(ngModel)]="global.generator_settingsMap[setting.name]"
                                    (ngModelChange)="afterSettingChange()" tickInterval="1" thumbLabel></mat-slider>
                      </ng-container>
                      <ng-container *ngSwitchCase="'Textinput'">
                        <span *ngIf="setting.size == 'small' || setting.size == 'medium'" class="textInputLabel">{{setting.text}}:</span>
                        <p *ngIf="setting.size == 'full'" class="textInputLabel">{{setting.text}}</p>
                        <input *ngIf="setting.tooltip && setting.tooltip.length > 0" [ngClass]="{textInputSmall: setting.size == 'small', textInputMedium: setting.size == 'medium', textInputFull: setting.size == 'full'}" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" type="text" [maxlength]="setting.max_length ? setting.max_length : 260" nbInput fieldSize="small" (ngModelChange)="afterSettingChange()"
                               [(ngModel)]="global.generator_settingsMap[setting.name]" [nbPopover]="tooltipComponent" [nbPopoverContext]="{tooltip: setting.tooltip}" nbPopoverTrigger="click" nbPopoverPlacement="right" nbPopoverAdjustment="counterclockwise">
                        <input *ngIf="!setting.tooltip || setting.tooltip.length == 0" [ngClass]="{textInputSmall: setting.size == 'small', textInputMedium: setting.size == 'medium', textInputFull: setting.size == 'full'}" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" type="text" [maxlength]="setting.max_length ? setting.max_length : 260" nbInput fieldSize="small" (ngModelChange)="afterSettingChange()"
                               [(ngModel)]="global.generator_settingsMap[setting.name]">
                      </ng-container>
                      <ng-container *ngSwitchCase="'Numberinput'">
                        <span class="numberInputLabel">{{setting.text}}:</span>
                        <input *ngIf="setting.tooltip && setting.tooltip.length > 0" class="numberInput" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" type="text" [maxlength]="setting.max.length" nbInput fieldSize="small" (ngModelChange)="numberInputChange($event, setting)"
                               [(ngModel)]="global.generator_settingsMap[setting.name]" [nbPopover]="tooltipComponent" [nbPopoverContext]="{tooltip: setting.tooltip}" nbPopoverTrigger="click" nbPopoverPlacement="right" nbPopoverAdjustment="counterclockwise">
                        <input *ngIf="!setting.tooltip || setting.tooltip.length == 0" class="numberInput" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" type="text" [maxlength]="setting.max.length" nbInput fieldSize="small" (ngModelChange)="numberInputChange($event, setting)"
                               [(ngModel)]="global.generator_settingsMap[setting.name]">
                      </ng-container>
                      <!--Exclusive to Main Tab-->
                      <ng-container *ngSwitchCase="'Fileinput'">
                        <p class="ioInputLabel">{{setting.text}}</p>
                        <!--Electron-->
                        <ng-container *ngIf="global.getGlobalVar('electronAvailable')">
                          <input *ngIf="setting.tooltip && setting.tooltip.length > 0" class="ioInput" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" type="text" maxlength="260" nbInput fieldSize="small" [(ngModel)]="global.generator_settingsMap[setting.name]"
                                 (ngModelChange)="afterSettingChange()" [nbPopover]="tooltipComponent" [nbPopoverContext]="{tooltip: setting.tooltip}" nbPopoverTrigger="click" nbPopoverPlacement="top" nbPopoverAdjustment="clockwise">
                          <input *ngIf="!setting.tooltip || setting.tooltip.length == 0" class="ioInput" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" type="text" maxlength="260" nbInput fieldSize="small" [(ngModel)]="global.generator_settingsMap[setting.name]"
                                 (ngModelChange)="afterSettingChange()">
                          <button class="ioInputBrowseButton" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" nbButton status="info" size="small" (click)="browseForFile(setting)">Browse</button>
                        </ng-container>
                        <!--Web-->
                        <ng-container *ngIf="!global.getGlobalVar('electronAvailable')">
                          <!--Visible: Drag Enabled-->
                          <ng-container *ngIf="global.generator_settingsVisibilityMap[setting.name]">
                            <input *ngIf="setting.tooltip && setting.tooltip.length > 0" class="ioInput" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" readonly type="text" maxlength="260" nbInput fieldSize="small" [(ngModel)]="getVariableType(global.generator_settingsMap[setting.name]) == 'string' ? global.generator_settingsMap[setting.name] : global.generator_settingsMap[setting.name].name"
                                   (ngModelChange)="afterSettingChange()" [nbPopover]="tooltipComponent" [nbPopoverContext]="{tooltip: setting.tooltip}" nbPopoverTrigger="click" nbPopoverPlacement="top" nbPopoverAdjustment="clockwise" ngfDrop [(file)]="global.generator_settingsMap[setting.name]">
                            <input *ngIf="!setting.tooltip || setting.tooltip.length == 0" class="ioInput" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" readonly type="text" maxlength="260" nbInput fieldSize="small" [(ngModel)]="getVariableType(global.generator_settingsMap[setting.name]) == 'string' ? global.generator_settingsMap[setting.name] : global.generator_settingsMap[setting.name].name"
                                   (ngModelChange)="afterSettingChange()" ngfDrop [(file)]="global.generator_settingsMap[setting.name]">
                          </ng-container>
                          <!--Not Visible: Drag Disabled-->
                          <ng-container *ngIf="!global.generator_settingsVisibilityMap[setting.name]">
                            <input *ngIf="setting.tooltip && setting.tooltip.length > 0" class="ioInput" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" readonly type="text" maxlength="260" nbInput fieldSize="small" [(ngModel)]="getVariableType(global.generator_settingsMap[setting.name]) == 'string' ? global.generator_settingsMap[setting.name] : global.generator_settingsMap[setting.name].name"
                                   (ngModelChange)="afterSettingChange()" [nbPopover]="tooltipComponent" [nbPopoverContext]="{tooltip: setting.tooltip}" nbPopoverTrigger="click" nbPopoverPlacement="top" nbPopoverAdjustment="clockwise">
                            <input *ngIf="!setting.tooltip || setting.tooltip.length == 0" class="ioInput" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" readonly type="text" maxlength="260" nbInput fieldSize="small" [(ngModel)]="getVariableType(global.generator_settingsMap[setting.name]) == 'string' ? global.generator_settingsMap[setting.name] : global.generator_settingsMap[setting.name].name"
                                   (ngModelChange)="afterSettingChange()">
                          </ng-container>
                          <button class="ioInputBrowseButton" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" nbButton status="info" size="small" ngfSelect [(file)]="global.generator_settingsMap[setting.name]">Browse</button>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'Directoryinput'">
                        <p class="ioInputLabel">{{setting.text}}</p>
                        <input *ngIf="setting.tooltip && setting.tooltip.length > 0" class="ioInput" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" type="text" maxlength="260" nbInput fieldSize="small" [(ngModel)]="global.generator_settingsMap[setting.name]"
                               (ngModelChange)="afterSettingChange()" [nbPopover]="tooltipComponent" [nbPopoverContext]="{tooltip: setting.tooltip}" nbPopoverTrigger="click" nbPopoverPlacement="top" nbPopoverAdjustment="clockwise">
                        <input *ngIf="!setting.tooltip || setting.tooltip.length == 0" class="ioInput" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" type="text" maxlength="260" nbInput fieldSize="small" [(ngModel)]="global.generator_settingsMap[setting.name]"
                               (ngModelChange)="afterSettingChange()">
                        <button class="ioInputBrowseButton" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" nbButton status="info" size="small" (click)="browseForDirectory(setting)">Browse</button>
                      </ng-container>
                      <ng-container *ngSwitchCase="'Presetinput'">
                        <nb-select #refPresetSelect [disabled]="!global.generator_settingsVisibilityMap[setting.name]" [(selected)]="global.generator_settingsMap[setting.name]" [nbPopover]="tooltipComponent" [nbPopoverContext]="{tooltip: setting.tooltip}" nbPopoverTrigger="click" nbPopoverPlacement="right"
                                   nbPopoverAdjustment="counterclockwise" size="xsmall">
                          <nb-option *ngFor="let preset of global.generator_presets | keyvalue:presetKeyOrder; index as presetIndex" [value]="preset.key">{{preset.key}}</nb-option>
                        </nb-select>
                        <button class="presetButton" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" nbButton status="info" size="small" (click)="loadPreset()">Load</button>
                        <button class="presetButton" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" nbButton status="info" size="small" (click)="savePreset(refPresetSelect)">Save</button>
                        <button class="presetButton" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" nbButton status="info" size="small" (click)="deletePreset()">Remove</button>
                      </ng-container>
                      <ng-container *ngSwitchCase="'Outputdirbutton'">
                        <button class="outputDirButton" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" nbButton status="info" size="small" (click)="openOutputDir()">{{setting.text}}</button>
                      </ng-container>
                      <!--Exclusive to Detailed Tab-->
                      <ng-container *ngSwitchCase="'SearchBox'">
                        <gui-listbox *ngIf="setting.tooltip && setting.tooltip.length > 0" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" [source]="setting.options" [(destination)]="global.generator_settingsMap[setting.name]" (destinationChange)="afterSettingChange()"
                                     height="74%" key="name" display="text" filter="true" [nbPopover]="tooltipComponent" [nbPopoverContext]="{tooltip: setting.tooltip}" nbPopoverTrigger="click" nbPopoverPlacement="right" nbPopoverAdjustment="counterclockwise"></gui-listbox>
                        <gui-listbox *ngIf="!setting.tooltip || setting.tooltip.length == 0" [disabled]="!global.generator_settingsVisibilityMap[setting.name]" [source]="setting.options" [(destination)]="global.generator_settingsMap[setting.name]" (destinationChange)="afterSettingChange()"
                                     height="74%" key="name" display="text" filter="true"></gui-listbox>
                      </ng-container>
                    </ng-container>
                    <!--Padding-->
                    <div *ngIf="section.settings.length > itemIndex + 1 && !setting.no_line_break" class="settingPadding"></div>
                  </ng-template>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </nb-tab>
      </nb-tabset>
      <div class="tabsetPadding"></div>
      <!--Static Footer Tabset-->
      <nb-tabset #refTabFooter class="footerTabset" (changeTab)="changeFooterTabSelection($event)">
        <nb-tab *ngIf="global.getGlobalVar('appType') == 'generator'" tabTitle="Generate From Seed" active>
          <p class="footerInputLabel">Settings String</p>
          <!--Electron-->
          <ng-container *ngIf="global.getGlobalVar('electronAvailable')">
            <input class="footerInput" type="text" maxlength="260" nbInput fieldSize="small" [(ngModel)]="global.generator_settingsMap['settings_string']" (ngModelChange)="afterSettingChange(true)">
            <button class="footerButton" nbButton status="info" size="small" (click)="copySettingsString()">Copy</button>
            <button class="footerButton" nbButton status="info" size="small" (click)="importSettingsString()">Import</button>
            <!--Padding-->
            <div class="settingPadding"></div>
            <p class="footerInputLabel">Seed</p>
            <input class="footerInput" type="text" maxlength="260" nbInput fieldSize="small" [(ngModel)]="seedString">
            <!--Padding-->
            <div class="tabsetPadding"></div>
            <button class="footerGenerateButton" nbButton fullWidth status="success" [disabled]="!generateSeedButtonEnabled" (click)="generateSeed()">Generate!</button>
          </ng-container>
          <!--Web-->
          <ng-container *ngIf="!global.getGlobalVar('electronAvailable')">
            <input class="footerInputShort" type="text" maxlength="260" nbInput fieldSize="small" [(ngModel)]="global.generator_settingsMap['settings_string']" (ngModelChange)="afterSettingChange(true)">
            <button class="footerButton" nbButton status="info" size="small" (click)="copySettingsString()">Copy</button>
            <button class="footerButton" nbButton status="info" size="small" (click)="settingsBusy = true; getSettingsString()">Get</button>
            <button class="footerButton" nbButton status="info" size="small" (click)="importSettingsString()">Import</button>
            <!--Padding-->
            <div class="settingPadding"></div>
            <p class="footerInputLabel">Seed</p>
            <input class="footerInput" type="text" maxlength="260" nbInput fieldSize="small" [(ngModel)]="seedString">
            <!--Padding-->
            <div class="tabsetPadding"></div>
            <!--Release Versions Only-->
            <ng-container *ngIf="global.getGlobalVar('webIsMasterVersion')">
              <button class="footerGenerateButtonSmall" nbButton status="success" [disabled]="!generateSeedButtonEnabled" (click)="generateSeed()">Generate Seed!</button>
              <button class="footerGenerateButtonSmall" nbButton status="info" [disabled]="!generateSeedButtonEnabled" (click)="generateSeed(false, true)">Generate Race Seed!</button>
            </ng-container>
            <!--Dev Version-->
            <ng-container *ngIf="!global.getGlobalVar('webIsMasterVersion')">
              <button class="footerGenerateButton" nbButton fullWidth status="success" [disabled]="!generateSeedButtonEnabled" (click)="generateSeed()">Generate Seed!</button>
            </ng-container>
          </ng-container>
        </nb-tab>
        <nb-tab tabTitle="Generate From File" [active]="global.getGlobalVar('appType') != 'generator'">
          <!--Electron-->
          <ng-container *ngIf="global.getGlobalVar('electronAvailable')">
            <p class="footerInputLabel">Patch File</p>
            <input class="footerInput" type="text" maxlength="260" nbInput fieldSize="small" [(ngModel)]="global.generator_settingsMap['patch_file']" (ngModelChange)="afterSettingChange(true)">
            <button class="footerButton" nbButton status="info" size="small" (click)="browseForPatchFile()">Select File</button>
            <!--Padding-->
            <div class="settingPadding"></div>
            <mat-slide-toggle labelPosition="after" [(ngModel)]="global.generator_settingsMap['repatch_cosmetics']" (ngModelChange)="updateCosmeticsCheckboxChange($event)">Update Cosmetics</mat-slide-toggle>
            <!--Padding-->
            <div class="tabsetPadding"></div>
            <button class="footerGenerateButton" nbButton fullWidth status="success" [disabled]="!generateSeedButtonEnabled" (click)="generateSeed(true)">Generate!</button>
          </ng-container>
          <!--Web-->
          <ng-container *ngIf="!global.getGlobalVar('electronAvailable')">
            <!--Generator-->
            <ng-container *ngIf="global.getGlobalVar('appType') == 'generator'">
              <p class="footerInputLabel">Patch File</p>
              <input class="footerInput" readonly type="text" maxlength="260" nbInput fieldSize="small" [(ngModel)]="getVariableType(global.generator_settingsMap['patch_file']) == 'string' ? global.generator_settingsMap['patch_file'] : global.generator_settingsMap['patch_file'].name" (ngModelChange)="afterSettingChange(true)" ngfDrop [(file)]="global.generator_settingsMap['patch_file']">
              <button class="footerButton" nbButton status="info" size="small" ngfSelect [(file)]="global.generator_settingsMap['patch_file']">Select File</button>
              <!--Padding-->
              <div class="settingPadding"></div>
              <mat-slide-toggle labelPosition="after" [(ngModel)]="global.generator_settingsMap['repatch_cosmetics']" (ngModelChange)="updateCosmeticsCheckboxChange($event)">Update Cosmetics</mat-slide-toggle>
              <!--Padding-->
              <div class="tabsetPadding"></div>
              <button class="footerGenerateButton" nbButton fullWidth status="success" [disabled]="!generateSeedButtonEnabled" (click)="patchROM()">Patch ROM!</button>
            </ng-container>
            <!--Patcher-->
            <ng-container *ngIf="global.getGlobalVar('appType') == 'patcher'">
              <mat-slide-toggle labelPosition="after" [(ngModel)]="global.generator_settingsMap['repatch_cosmetics']" (ngModelChange)="updateCosmeticsCheckboxChange($event)">Update Cosmetics</mat-slide-toggle>
              <!--Padding-->
              <div class="tabsetPadding"></div>
              <button class="footerGenerateButton" nbButton fullWidth status="success" [disabled]="!generateSeedButtonEnabled" (click)="patchROM()">Patch ROM!</button>
            </ng-container>
          </ng-container>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
</div>
