/deep/ {
  .textInput-window {
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    .headerButton {
      float: right;
      margin-top: -10px;
      margin-right: -10px;
    }

    .textInput {
      position: relative;
      left: 0px;
      width: 100%;
      text-align: left;
      padding-left: 0.375rem !important;
      margin-right: 1.0rem !important;
    }

    .footerButtonWrapper {
      text-align: center;
    }

    button + button {
      margin-left: 1rem;
    }
  }

  @media (min-width: 40rem) {
    .textInput-window {
      width: 38rem;
    }
  }
}
